<header class="main-header">
  <div class="main-header-logo">
    <a href="/"><img src="../images/logo.png" alt="logo"></a>
  </div>
  <div class="main-header__actions">
    <div class="main-header__actions__search">
      <p>Search</p>
    </div>
    <div class="main-header__actions__notif">
      <img src="../icons/bell.png" alt="">
    </div>
    <div class="main-header__item"><a href="/">
        <button class="btn btn-avatar">
          <img class="btn-ava" src="../images/avatar1.png" alt="avatar1">
          Sam Jones
          <img class="btn-arrow" src="../icons/triangle-down.png" alt="triangle down">
        </button>
      </a></div>
  </div>
</header>