.grid {
	display: flex;
	flex-direction: column-reverse;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.card {
	margin-top: 1.875rem; /* 30px ÷ 16px = 1.875rem */
	padding-left: 1.25rem; /* 20px ÷ 16px = 1.25rem */
	max-width: 55.9375rem; /* 895px ÷ 16px = 55.9375rem */
	width: 40rem; /* 895px ÷ 16px = 55.9375rem */
	min-height: 10.4375rem; /* 247px ÷ 16px = 15.4375rem */

	background: #d9d9d9;
	border-radius: 0.625rem;
}

.card__header {
	margin-top: 20px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.product__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem; /* 20px ÷ 16px = 1.25rem */
	line-height: 1.5rem; /* 24px ÷ 16px = 1.5rem */
	letter-spacing: 0.001875rem; /* 0.03em ÷ 16px = 0.001875rem */

	color: #000000;
}

.card__posted {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 0.625rem; /* 10px ÷ 16px = 0.625rem */
	line-height: 1.375rem; /* 22px ÷ 16px = 1.375rem */
	letter-spacing: 0.001875rem; /* 0.03em ÷ 16px = 0.001875rem */

	color: rgba(0, 0, 0, 0.67);
}

.card__descr {
	margin-top: 1.25rem; /* 20px ÷ 16px = 1.25rem */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 1.0625rem; /* 17px ÷ 16px = 1.0625rem */
	line-height: 1.3125rem; /* 21px ÷ 16px = 1.3125rem */
	letter-spacing: 0.001875rem; /* 0.03em ÷ 16px = 0.001875rem */

	color: #000000;
}

.separator {
	margin-top: 20px;
	border-top: 1px solid rgb(115, 115, 115);
}

.card-actions {
	margin-top: 1.25rem; /* 20px ÷ 16px = 1.25rem */
	margin-bottom: 1.25rem; /* 20px ÷ 16px = 1.25rem */
	display: flex;
	justify-content: start;
	align-items: center;
}

.card-actions__counter {
	margin-left: 0.625rem; /* 10px ÷ 16px = 0.625rem */
	margin-right: 0.625rem; /* 10px ÷ 16px = 0.625rem */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 0.8125rem; /* 13px ÷ 16px = 0.8125rem */
	line-height: 1rem; /* 16px ÷ 16px = 1rem */
	letter-spacing: 0.001875rem; /* 0.03em ÷ 16px = 0.001875rem */
	color: #000000;
}

.add-post {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.add-post__input {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 100%;
}
