.wrapper {
    display: flex;
    margin: 1.5rem;
}

.card-intro{
    display: flex;
    border-bottom: 1px solid grey;
}

.card-topic {
    color: white;
    text-decoration: none;
    font-size:x-large;
    font-weight: bold;
    width: fit-content;
}

.card-intro-description {
    display: flex;
    flex-direction: column;
}

.card-body {
    padding: 0.5rem;
    border-bottom: 1px solid grey;
}

.card-text {
    padding: 1rem 0;
}

.card-likes {
    display: flex;
    background-color: #d9d9d9;
    color: black;
    padding: 0.5rem;
    width: fit-content;
    border: none;
    border-radius: 10px;
}

.card-likes__counter {
    padding-right: 0.5rem;
}

.card-comments {
    margin-top: 1rem;
}

.no-comments {
    color: black;
    background-color: #d9d9d9;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.comment-user {
    color: white;
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

.comment-text {
    margin: 0.5rem 1rem;
    padding: 1rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
}

.comment-add-intro {
    display: flex;
}

.comment-add-intro ::a {
    color: gray;
}

.user_name{
    color: white;
    text-decoration: none;
    padding-left: 0.2rem;
    font-weight: bold;
}

.comment-add {
    margin-bottom: 0.5rem;
}

.hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

::placeholder {
    color: lightgray;
    opacity: 1;
}
  
:-ms-input-placeholder {
    color: lightgray;
}
  
::-ms-input-placeholder { 
    color: lightgray;
}

.comment-btn {
    padding: 0.5rem;
    background-color: black;
    border: 0.1rem solid white;
    border-radius: 10px;
    color: white;
    box-shadow: 5px;
}

.comment-btn:hover {
    cursor: pointer;
}