<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="css/register.css" />
</head>

<body>
    <div class="register_main">
        <img class="register_logo" src="images/login_reg_logo.svg" alt="logo"/>
        <div class="register_upper_text">
            <p class="register_welcome">Welcome to Rabbit!</p>
            <p class="register_get_started">Get started now</p>
        </div>
        <div class="register_container_form">
            <form class="register_form" id="registerForm" method="POST" action="/api/users">
                <input type="email" id="email" name="email" placeholder="EMAIL">
                <br>
                <input type="text" id="username" name="username" placeholder="USERNAME">
                <br>
                <input type="password" id="password" name="password" placeholder="PASSWORD">
                <br>
                <button type="submit" class="button">REGISTER</button>
            </form>
        </div>
        <button class="button" id="button_login" onclick="window.location.href='/login'">LOGIN</button>
    </div>

</body>

</html>