<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="css/register.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="register_main">
        <img class="register_logo" src="images/login_reg_logo.svg" alt="logo" />
        <div class="register_upper_text">
            <p class="register_welcome">Welcome to Rabbit!</p>
            <p class="register_get_started">Get started now</p>
        </div>
        <div class="register_container_form">
            <form class="register_form" id="registerForm" name="registerForm" method="POST" action="">
                <input type="hidden" name="not_important" value="">
                <input type="email" id="email" name="email" placeholder="EMAIL">
                <br>
                <input type="text" id="username" name="username" placeholder="USERNAME">
                <br>
                <input type="password" id="password" name="password" placeholder="PASSWORD">
                <br>
                <input type="hidden" name="not_importan" value="">
                <input type="submit" class="button" placeholder="Register">
            </form>
            <script>
                $(document).ready(function() {
                  $('#registerForm').submit(function(event) {
                    event.preventDefault();
            
                    var formData = $(this).serialize();
        
                    $.ajax({
                      type: 'POST',
                      url: '/api/users',
                      data: JSON.stringify(formData),
                      success: function(response) {
                        window.location.href = "/";
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                        console.log('error')
                      }
                      });
                  });
                });
            </script>
        </div>
        <button class="button" id="button_login" onclick="window.location.href='/login'">LOGIN</button>
    </div>

</body>

</html>