<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="css/register.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="register_main">
        <img class="register_logo" src="images/login_reg_logo.svg" alt="Rabbit-logo" />
        <div class="register_upper_text">
            <h1 tabindex="1" class="register_welcome">Welcome to Rabbit!</h1>
            <h2 class="register_get_started">Get started now</h2>
        </div>
        <div class="register_container_form">
<<<<<<< HEAD
            <form class="register_form" id="registerForm" method="POST" action="/api/users">
                <input type="email" id="email" name="email" placeholder="EMAIL" aria-label="Email" role="textbox">
=======
            <form class="register_form" id="registerForm" name="registerForm" method="POST" action="">
                <input type="hidden" name="not_important" value="">
                <input type="email" id="email" name="email" placeholder="EMAIL">
>>>>>>> 3f628e18ae0ffaffaa3ddd01b7972dcc3f2e85a3
                <br>
                <input type="text" id="username" name="username" placeholder="USERNAME" aria-label="Username" role="textbox">
                <br>
                <input type="password" id="password" name="password" placeholder="PASSWORD" aria-label="Password" role="textbox">
                <br>
<<<<<<< HEAD
                <button type="submit" class="button" aria-label="Register" role="button">REGISTER</button>
=======
                <input type="hidden" name="not_importan" value="">
                <input type="submit" class="button" placeholder="Register">
>>>>>>> 3f628e18ae0ffaffaa3ddd01b7972dcc3f2e85a3
            </form>
            <script>
                $(document).ready(function() {
                  $('#registerForm').submit(function(event) {
                    event.preventDefault();
            
                    var formData = $(this).serialize();
        
                    $.ajax({
                      type: 'POST',
                      url: '/api/users',
                      data: JSON.stringify(formData),
                      success: function(response) {
                        window.location.href = "/";
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                        console.log('error')
                      }
                      });
                  });
                });
            </script>
        </div>
        <button class="button" id="button_login" onclick="window.location.href='/login'" aria-label="Login" role="button">LOGIN</button>
    </div>

</body>

</html>
